!*/.keep

# Erlang and BEAM bits
*.beam
*.ez
build
erl_crash.dump
data

# Node and NPM bits
node_modules
.parcel-cache
dist

# Editor config
.vscode

# MacOS bits
.DS_Store

# `data` is ignored because of the Erlang stuff above, but we want a folder of
# the same name in the frontend codebase, so we need to create an exception for
# that
!app/src/app/data
